<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>757501644390-po3ghqplsp7heh3j505lkiohp8h4imc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757501644390-po3ghqplsp7heh3j505lkiohp8h4imc8</string>
	<key>API_KEY</key>
	<string>AIzaSyA3TsTs_O6UrXNTUOqOAmdc2G3blzq_IIo</string>
	<key>GCM_SENDER_ID</key>
	<string>757501644390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iblahblah.iphone</string>
	<key>PROJECT_ID</key>
	<string>iblah-20c43</string>
	<key>STORAGE_BUCKET</key>
	<string>iblah-20c43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757501644390:ios:25176fa8aba7795d</string>
	<key>DATABASE_URL</key>
	<string>https://iblah-20c43.firebaseio.com</string>
</dict>
</plist>